<nav
  class="sticky top-0 md:h-[75px] h-[60px] flex justify-between bg-white dark:bg-gray-800 rounded shadow-lg py-3 px-5"
>
  <div class="flex items-center space-x-3 md:px-5 px-2">
    <span
      class="font-semibold md:text-2xl text-xs leading-6 text-gray-800 dark:text-white"
    >
      {{ "storeApp" | translate }}
    </span>
  </div>

  <div class="flex justify-center items-center gap-3">
    <app-language></app-language>

    <ng-container *ngIf="user$ | async as user">
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        class="md:text-base text-xs font-medium"
      >
        <span> {{ "welcome" | translate }} {{ user?.userName }} </span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="signOut()"
          class="flex justify-start items-center gap-2 px-23 md:text-base text-xs font-medium"
        >
          <span>{{ "logout" | translate }} </span>
          <mat-icon>logout</mat-icon>
        </button>
      </mat-menu>
    </ng-container>
  </div>
</nav>
